body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    background: black;
}
.categories {
    position:fixed;
    background-color: black;
    text-transform: uppercase;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    z-index: 10;
    scroll-behavior: smooth;
}
.categories ul {
    list-style: none;
    padding: .8em;
    margin: 0;
    white-space: nowrap;
}
.categories ul li {
    display: inline-block;
    padding: .5em;
    position: relative;
}

.categories ul li a {
    color: white;
    text-decoration: none;
}

.categories ul li a.active {
    color: #38FA19;
}

.categories ul li a.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: -13px;
    height: 5px;
    width: 100%;
    background-color: red;
}

.categories ul li a.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -13px;
    height: 5px;
    width: 100%;
    background-color: red;
}

.movies-wrapper {
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    padding-right: 4px;
}
.movies .movie {
    width: 33.3%;
    position: relative;
    overflow: hidden;
    margin: 2px 0;
}
.movies .movie a {
    background: black;
    margin-bottom: 130%;
    display: block;
    padding-left: 4px;
}

.movies .movie img {
    width: 100%;
    position: absolute;
    top: 0;

    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.movies .movie a:focus img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    padding-top: 64px;
    right: -100%;
}

